<footer>
    <div class="f-info">
        <div class="f-info-socials">
       <a href="https://github.com/aasifk71"> <i class="fa-brands fa-github" style="color: black;"></i> </a>
       <a href="https://www.linkedin.com/in/mohd-aasif-80568b2a7/">  <i class="fa-brands fa-linkedin" ></i></a>

         <a href="https://www.instagram.com/aasif_k7"><i class="fa-brands fa-instagram" style="color: rgb(222, 36, 212);"></i></a>
        </div>
        <div class="f-info-brand"> &copy; LocalValley Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>