    <%= layout("/layouts/boilerplate") %>



    <style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    background: url("/uploads/img/listing.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .listing-card {
    background: rgba(255, 255, 255, 0.95);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 90%;
  }

  .add-btn {
    width: 100%;
    border-radius: 100px;
    background-color: #1abc9c;
    border: none;
  }

  .add-btn:hover {
    background-color: white;
    color: #1abc9c;
    border: solid 2px #1abc9c;
  }
  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: bold;
    color:#1abc9c;
  }
</style>




    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
  <div class="listing-card">
    <h3 class="text-center mb-4 text-success"><i class="fa-solid fa-umbrella-beach me-2  my-umbrella-icon"></i><h1>Start Hosting</h1></h3>

    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">


       <div class="mb-3">
       <label for="title" class="form-label">Title</label>
      <input name="listing[title]" 
      placeholder="Add catchy title"
       type="text" 
      class="form-control"
      required
       />
       <div class="valid-feedback">Title look good!</div>

      </div>
      
       <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
        name="listing[description]"
        placeholder="enter description"
        class="form-control" 
        required
      ></textarea>
      <div class="invalid-feedback">Description Should be Short</div>
      </div>
      


       <div class="mb-3">
        <label for="image" class="form-label" > Upload Image </label>
       <input
        name="listing[image]"
        
        type="file"
        class="form-control"
        required
      />
    
      </div>
        
      <div class="row">
       <div class="mb-3 col-md-4">
       <label for="price" class="form-label" >Price</label>
              <input name="listing[price]" placeholder="1200"         
              class="form-control" required  />
        <div class="invalid-feedback">Price should be valid</div>
            </div>


       <div class="mb-3 col-md-8">
        <label for="country" class="form-label" >Country</label>
      <input name="listing[country]" placeholder="India" type="text" class="form-control" required/>
      </div>
      <div class="invalid-feedback">Counrty Name should be valid</div>
      </div>
      
      <div class="mb-3">
        <label for="location" class="form-label" >Location</label>
        <input
        name="listing[location]"
        placeholder="Delhi"
        type="text"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Location Should be valid</div>
      </div>
     
      <button class="btn btn-dark add-btn mt-3">Add</button>
      
    </form>
    </div>
    </div>
